body {
    margin : 0px;
}

textarea {
    width: 100%;
    display: inline;
    
}


/*
button {
    width: 100%; 
    width:25px;
    height:25px;
}
*/



video {
    background-color: blue;
    border: 2px solid black;
    margin-top: 5px;
    width: 100%;
}

@media ( min-width : 600px ) {
    video {
        width : 48%;
        margin-left: 0.8%;
    }
}